<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="InetBanking">
		<listeners>
			<listener class-name="com.inetBanking.utilities.Reporting"/>
		</listeners>
  <test thread-count="5" name="InetBanking">
    <classes>
    <!--  <class name="com.inetBanking.testCases.LoginPageTest"/> -->
	  <class name="com.inetBanking.testCases.LoginPageDDTest"/>
    </classes>
  </test> <!-- InetBanking -->
</suite> <!-- InetBanking -->
